/* Space out content a bit */
body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

h1 {
  font-family: 'Patua One', sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

footer .container * {
  color: rgba(0,0,0,.5);
}

header .container {
  border-bottom: .05rem solid #e5e5e5;
  padding: 0rem;
}

header .container * {
  color: rgba(0,0,0,.5);
}

header .container a.btn {
  color: rgba(255, 255, 255);
}

footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

footer .container {
  padding: 0rem;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-left: 1.5rem;
  padding-right: 0;
}

nav.navbar {
  padding-left: 0;
  padding-right: 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
  background-image: url('/img/back-massage.jpg');
  background-position: -150px -150px;
  color: rgba(255, 255, 255, 1);
}
.jumbotron .btn {
  margin-bottom: 0.3rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

blockquote span.oi-star {
  color: red;
}
.social-links {
  padding-top: 1rem;
  line-height: 12px;
}

.material-icons.md-18 { font-size: 0.8rem; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.card-deck .card {
  min-width: 220px;
}
