<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h5>The Body Mind Clinic</h5>
        <p><addr>128 Newport Road<br>Cardiff<br>CF24 1DH</addr></p>
      </div>
      <div class="col-sm-4">
        <h5>Cyncoed Clinic</h5>
        <p><addr>7 Brynderwen Close<br>Cardiff<br>CF23 6BR</addr></p>
      </div>
      <div class="col-sm-4">
        <h5>Get in Touch</h5>
        <div><i class="material-icons md-18">call</i> <a href="tel:+442920140069">(029) 2014 0069</a></div>
        <div><i class="material-icons md-18">call</i> <a href="tel:+447904525169">(079) 0452 5169</a></div>
        <div><i class="material-icons md-18">email</i> <a href="mailto:donna@vitalityfitness.info">donna@vitalityfitness.info</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <!-- TrustBox widget - Micro Review Count -->
        <div class="trustpilot-widget" data-locale="en-GB" data-template-id="5419b6a8b0d04a076446a9ad" data-businessunit-id="5a4b501fb894c90edc1df1a7" data-style-height="24px" data-style-width="100%" data-theme="light">
          <a href="https://uk.trustpilot.com/review/www.cardiffsportsmassage.co.uk" target="_blank">Trustpilot</a>
        </div>
        <!-- End TrustBox widget -->
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="social-links text-center">
          <div id="fb-root"></div>
          <a class="twitter-share-button" href="https://twitter.com/intent/tweet?url&amp;via=VitFitCdf&amp;text={{ .Title }}">Tweet</a>
          <div class="fb-share-button" data-href="{{ .Permalink }}" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink  | safeURL }}&amp;src=sdkpreparse">Share</a></div>
        </div>
      </div>
    </div>
</footer>
