  <header>
    <div class="container">
      <div class="row">
        <div class="col-4 text-left">
          <p><a class="btn btn-danger" href="/covid-19/" role="button">All Bookings are Suspended due to COVID-19</a></p>
          <!-- <p><a class="btn btn-primary" href="https://vitfitcdf.as.me/" role="button">Book Now</a></p> -->
        </div>
        <div class="col-8 text-right">
          <p><i class="material-icons md-18">call</i> <a href="tel:+442920140069">(029) 2014 0069</a></p>
        </div>
      </div>
    </div>
  </header>
  <nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="/"><img src="/img/logo.jpg" width="162" height="82"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto nav">
{{ range .Site.Menus.main }}
  {{ if .HasChildren }}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ .Name }}</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {{ range .Children }}
              <a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
          </div>
        </li>
  {{ else }}
        <li class="nav-item">
          <a class="nav-link" id="{{ .Identifier }}" href="{{ .URL }}">{{ .Name }}</a>
        </li>
  {{ end }}
{{ end }}
      </ul>
    </div>
  </nav>
  <div class="alert alert-info" role="alert">
    Please read <a href="/covid-19">our statement</a> on the emerging COVID-19 situation
  </div>
  <div class="alert alert-secondary" role="alert">
    As the sports massage clinic is temporarily closed, I am now offering <a href="http://www.vitalityfitness.info/covid-19/">personal training and rehab work over video</a> (Zoom and WhatsApp)
  </div>
