<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script id="facebook-jssdk" src="https://connect.facebook.net/en_US/all.js#xfbml=1"></script>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-M9LWQ5S');</script>
  <!-- End Google Tag Manager -->

<link href="https://fonts.googleapis.com/css?family=Open+Sans|Patua+One|Material+Icons" rel="stylesheet">
<title>Vitality Fitness Sports, Deep Tissue and Muscle Therapy Massage (Cardiff) | {{ .Title }}</title>
<link rel="canonical" href="{{ .Permalink }}">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:image" content="http://www.cardiffsportsmassage.co.uk/img/logo.jpg">
<meta property="og:image:width" content="162">
<meta property="og:image:height" content="82">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@VitFitCdf">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:image" content="http://www.cardiffsportsmassage.co.uk/img/logo.jpg">
<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

{{ if .Description }}
  <meta property="og:description" content="{{ .Description }}">
  <meta name="twitter:description" content="{{ .Description }}">
  <meta name="description" content="{{ .Description }}">
{{ end }}
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/narrow.css">
  <link rel="stylesheet" href="/open-iconic/font/css/open-iconic-bootstrap.css">

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "HealthAndBeautyBusiness",
      "currenciesAccepted": "GBP",
      "paymentAccepted": "Cash, Credit Card",
      "priceRange": "£25-£40",
      "telephone": "+442920140069",
      "address": {
        "addressCountry": "GB",
        "addressLocality": "Cardiff",
        "postalCode": "CF23 6BR",
        "streetAddress": "7 Brynderwen Close"
      },
      "openingHours": ["Mo-Fr 09:30-21:00","Sa 09:30-12:00"],
      "name": "Vitality Fitness Sports Massage",
      "description": "Vitality Fitness provides sports massage therapy in Cardiff, UK",
      "email": "mailto:donna@vitalityfitness.info",
      "url": "http://cardiffsportsmassage.co.uk/",
      "image": "http://www.cardiffsportsmassage.co.uk/img/logo.jpg",
      "logo": "http://www.cardiffsportsmassage.co.uk/img/logo.jpg",
      "contactPoint": [{
        "@type": "ContactPoint",
        "telephone": "+442920140069",
        "contactType": "customer service",
        "areaServed": "GB",
        "availableLanguage": "English"
      }],
      "sameAs": [
        "http://www.vitalityfitness.info/",
        "https://www.facebook.com/VitFitCdf/",
        "https://www.instagram.com/personaltrainerandsporttherapy/",
        "https://twitter.com/VitFitCdf"
      ]
    }
  </script>
  <!-- TrustBox script -->
  <script type="text/javascript" src="https://widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
  <!-- End TrustBox script -->
</head>
